{% extends 'food/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
           <img class="card" width="250px" src="{{ object.image }}" alt="{{ item.image }}"/>
        </div>
        <div class="col-md-6">
            <h1> {{ object.name }} </h1>
            <p> {{ object.description }} </p>
            <p> {{ object.price }} PLN </p>
            <a href="{% url 'food:delete_item' object.pk %}">Delete</a>
        </div>
    </div>

</div>
{% endblock %}
